<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jason.ftp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Team FTP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Manager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HSActivity"
            android:label="@string/title_activity_hs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gameActivity"
            android:label="@string/title_activity_game"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".scoreScreenActivity"
            android:label="@string/title_activity_score_screen"
            android:theme="@style/AppTheme"></activity>

        <!-- define service-->
        <service android:enabled="true" android:name=".MusicService" />
    </application>

</manifest>